$primary900                 :   #003459;
$primary800                 :   #2F5976;
$primary700                 :   #0F75A2;
$primary600                 :   #1395CD;
$primary500                 :   #39B6ED;
$primary400                 :   #74CBF2;
$primary300                 :   #A5E3FF;
$primary200                 :   #C4ECFE;
$primary100                 :   #E2F8FF;

// Accent color
$accent900                 :   #0C3918;
$accent800                 :   #15612B;
$accent700                 :   #2F7B40;
$accent600                 :   #1DAE43;
$accent500                 :   #2EC35F;
$accent400                 :   #6AD57E;
$accent300                 :   #A6E9AE;
$accent200                 :   #C4F0C9;
$accent100                 :   #DAFDDD;

// Yello
$site-yellow 				:	#F5A623;

// Red
$site-red 					:	#ED3939;

// Grey
$grey900        			:	#212121;
$grey800    				:	#757575;
$grey700        		    :	#909090;
$grey600        			:	#BDBDBD;
$grey500          			:	#CCCCCC;
$grey400            		:	#E0E0E0;
$grey300        			:	#EEEEEE;
$grey200            		:	#F5F5F5;
$grey100            		:	#FAFAFA;

$body-color					:	$primary900;

$facebook-color				:	#446199;
$twitter-color				:	#01aaed;
$email-color				:	#3bb3ef;


$nav-tab-color				:	#AFAFAF;

// White
$white						:	#FFFFFF;

// Transparent
$transparent				:	rgba(0,0,0,0);

// Nav Link Color
$nav-link-color				:	$body-color;

// Shadows color
$shadow-color				:	rgba(0,0,0,0.1);

// Border Colors
$border-blue				:	$primary500;
$border-green				:	$accent500;
$border-grey				:	$grey900;
$border-grey-light			:	$grey400;

// Input Border Color
$input-border-color			:	$grey400;

// hr color
$hr-color					:	$grey300;
$disabled-color				:	$grey300;

// text colors
$text-dark					:	$grey900;
$text-medium				:	$grey600;
$text-disabled				:	$disabled-color;
$text-blue					:	$primary500;
$text-green					:	$accent500;


// Borders Width
$border-width-2				:	2px;
$border-width-1				:	1px;
$border-solid				:   solid;


// Fonts

$font-family: Montserrat, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

// font-sizes
$size-50				:   50px;
$size-42				:   42px;
$size-40				:   40px;
$size-30				:   30px;
$size-26				:   26px;
$size-24				:   24px;
$size-20				:   20px;
$size-18				:   18px;
$size-16				:   16px;
$size-15				:   15px;
$size-14				:   14px;
$size-13				:   13px;
$size-12				:   12px;
$size-10				:   10px;


// Circle
$circle 				:	100%;

// Card Size
$card-width				:	95px;
$card-height			:	95px;

// Social Media Icons Size
$icon-width				:	22px;
$icon-height			:	22px;

// Input Height
$input-height			:	48px;

// Input Color
$input-color 			:	$grey600;

// Pagination Arrow Size
$arrow-width			:	36px;
$arrow-height			:	36px;

// Progress Bar
$progress-bar-color		:	#E8E9EA;

// Buttons Size
// btn-sm size
$btn-sm-min-width			:	131px;
$btn-sm-min-height			:	31px;
$btn-big-min-width			:	268px;
$btn-big-min-height			:	42px;
$btn-oval-radius			:	25px;
$btn-default-color			:	$grey600;
$btn-facebook-bgcolor 		:	#3B579D;
$btn-google-bgcolor 		:	$white;
$btn-google-border  		:	#979797;
$btn-google-color   		:	#5D5D5D;
$btn-danger-border			:	#d9534f;

// Arrow Buttons
$arrow-btn-width			:	76px;
$arrow-btn-height			:	76px;
$arrow-btn-bg-color			:	rgba(255,255,255,0.7);
$arrow-btn-bg-gradient		:	linear-gradient(180deg, #FDFDFD 0%, #E7E9F3 88.27%, #D8DBE7 100%);

$arrow-inner-circle-width	:	60px;
$arrow-inner-circle-height	:	60px;

$arrow-round-btn-width			:	236px;
$arrow-round-btn-height			:	70px;
$arrow-round-inner-circle-width	:	217px;
$arrow-round-inner-circle-height:	50px;

// Screen Sizes
$screen-lg					:	1200px;
$screen-md					:	992px;
$screen-md-max				:	$screen-md - 1px;
$screen-sm-max				:	799px;
$screen-sm					:	768px;
$screen-xs					:	767px;

// Footer color
//$footer-text-color			:	$nav-tab-color;
$footer-text-color			:	$grey800;


.navbar {
    z-index: 99;
    display: flex;
    width: 100%;
    height: 116px;
    min-height: 116px;
    flex-grow: 0;
    align-content: center;
    align-items: center;
    border: 0;
    background-color: white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    @media (max-width: $screen-sm) {
      height: 84px;
      min-height: 84px;
    }
  
    .container {
      margin-top: -5px;
      @media (max-width: $screen-xs) {
        width: 100%;
      }
    }
  

    .navbar-collapse {
      @media (max-width: $screen-sm-max) {
        position: absolute;
        z-index: 99999;
        right: 0;
        left: 0;
        overflow: visible;
        width: 100%;
        min-height: 450px;
        padding-top: 50px;
        padding-left: 10px;
        margin: 0 !important;
        background-color: $white;
      }
      @media (max-width: $screen-xs) {
        padding-left: 10px;
      }
    }
  
    .navbar-brand {
      padding: 0;
      @media (max-width: $screen-xs) {
        padding-left: 15px;
      }
    }
  
    .navbar-right {
      margin-right: -30px;
    }
  
    .navbar-left {
      margin-top: -3px;
      margin-left: 50px;
    }
  
    .header-btn {
      margin-top: 9px;
      margin-right: -30px;
    }
  
    .navbar-nav {
      li {
        margin-top: 8px;
        margin-right: 20px;
  
        &.list-item-left {
          margin-top: 6px;
          margin-right: 30px;
          line-height: 35px;
        }
  
        &:last-child {
          margin-right: 0;
        }
  
        > a {
          display: inline-block;
          padding: 8px;
          color: $body-color;
          font-size: 16px;
          line-height: 1.5;
          text-align: center;
  
          &::before {
            display: block;
            overflow: hidden;
            height: 0;
            content: attr(title);
            font-weight: bold;
            visibility: hidden;
          }
  
          &.button {
            color: $primary500;
          }
          @media (max-width: $screen-xs) {
            padding-top: 15px;
            padding-bottom: 0;
          }
  
          &.button {
            padding-right: 12px;
            padding-left: 12px;
          }
  
          &.registration {
            @media (max-width: $screen-sm) {
              color: $accent500;
            }
          }
  
          &:hover,
          &:focus {
            background-color: transparent;
            font-weight: bold;
          }
  
          &.active {
            border-bottom: solid 2px;
            font-weight: bold;
          }
        }
  
        &.active a {
          border-bottom: solid 2px;
          background-color: transparent;
          font-weight: bold;
        }
      }
      @media (max-width: $screen-md-max) {
        margin: 0;
  
        li {
          margin: 0;
        }
      }
    }
  }
  
  .navbar-toggle {
    @media (max-width: $screen-xs) {
      margin-top: 5px;
      margin-right: 15px;
    }
  
    .icon-bar {
      background-color: $primary900;
      transition: all 0.2s;
    }
  
    .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 50%;
    }
  
    .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 50%;
    }
  
    &.collapsed {
      .top-bar {
        transform: rotate(0);
      }
  
      .bottom-bar {
        transform: rotate(0);
      }
    }
  }
  
  
  
  .Header_header__1v0yI {
    position: fixed;
    z-index: 999;
    width: 100%;
  }
  /*********new-header************/
  .new-header{
    position: fixed;
    z-index: 999999;
    width: 100%;
    .Header_nav__link__2O5GH{
      color: #fff;
    }
    .Header_nav__LNsaU{
      .Header_nav__wrapper___active__3Q3cf{
        .Header_nav__item__1FJmV{
          a{
            color: #003459;
          }
        }
      }
    }
    .Header_hamburger__inner__2m8S1, .Header_hamburger__inner__2m8S1::before, .Header_hamburger__inner__2m8S1::after{
      background-color: #FFF;
    }
    .Header_hamburger___isActive__26Ocz{
      .Header_hamburger__inner__2m8S1, .Header_hamburger__inner__2m8S1::before, .Header_hamburger__inner__2m8S1::after{
        background-color: #003459;
      }
    }
    .text-logo{
      margin-left: 10px;
      font-size: 18px;
      letter-spacing: 5px;
      text-transform: uppercase;
      label{
        font-size: 5px;
      }
    }
  }
