.header-transperent {
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 999999;
  padding: 20px;
}
.header-transperent .header-sm {
  display: none;
}
.header-transperent .text-logo {
  margin-left: 10px;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}
.header-transperent .text-logo label {
  font-size: 5px;
}
.header-transperent .header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header-transperent .header__wrapper .nav__wrapper {
  color: white;
  display: flex;
  justify-content: space-around;
}
.header-transperent .header__wrapper .nav__wrapper, .header-transperent .header__wrapper .nav {
  margin-top: 8px;
}
.header-transperent .header__wrapper .nav__wrapper .nav__item, .header-transperent .header__wrapper .nav .nav__item {
  padding-right: 70px;
  list-style: none;
}
.header-transperent .header__wrapper .nav {
  display: flex;
}
.header-transperent .header__wrapper .nav .nav__item {
  padding-right: 30px;
  color: white;
}
.header-transperent .header__wrapper .nav .nav__toggle {
  display: inline-block;
  background-color: #2ec35f;
  height: 50px;
  margin-top: -12px;
  border: none;
  color: white;
}

.header {
  padding: 20px;
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 999999;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header .header__wrapper .nav__wrapper {
  display: flex;
  justify-content: space-around;
}
.header .header__wrapper .nav__wrapper, .header .header__wrapper .nav {
  margin-top: 8px;
}
.header .header__wrapper .nav__wrapper .nav__item, .header .header__wrapper .nav .nav__item {
  padding-right: 70px;
  list-style: none;
}
.header .header__wrapper .nav {
  display: flex;
}
.header .header__wrapper .nav .nav__item {
  padding-right: 30px;
}
.header .header__wrapper .nav .nav__toggle {
  display: inline-block;
  background-color: #2ec35f;
  height: 50px;
  margin-top: -12px;
  border: none;
  color: white;
}

@media screen and (max-width: 1039px) {
  .header .header-sm, .header-transperent .header-sm {
    display: block;
    display: flex;
    justify-content: space-between;
  }
  .header .header__wrapper, .header-transperent .header__wrapper {
    display: none !important;
  }
  .header .hamburger .hamburger__box .hamburger__inner, .header-transperent .hamburger .hamburger__box .hamburger__inner {
    border-top: 2px solid white;
    width: 30px;
    margin-bottom: 10px;
  }
  .header .hamburger-black, .header-transperent .hamburger-black {
    margin-top: 10px;
  }
  .header .hamburger-black .hamburger__box .hamburger__inner, .header-transperent .hamburger-black .hamburger__box .hamburger__inner {
    border-top: 2px solid black;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header .header__wrapper .nav__wrapper .nav__item, .header .header__wrapper .nav .nav__item, .header-transperent .header__wrapper .nav__wrapper .nav__item, .header-transperent .header__wrapper .nav .nav__item {
    padding-right: 30px;
  }
}/*# sourceMappingURL=Header.css.map */